body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    background-image: url(https://preview.redd.it/7680-4320-gradient-blur-4k-wallapapers-v0-334c91w51tbb1.png?width=7680&format=png&auto=webp&s=0528d771be006deb28e7148b9e0b4ff7cd197c9e);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
    color: #4CAF50;
    margin-bottom: 30px;
}

.message {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 30px;
    color: #333;
}


button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 32px;
    font-size: 1.2em;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}






